<!doctype html>

<html>
<head>
	<title>GoTo</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="/css/goto.css" rel="stylesheet">

    <script src="/js/jquery-1.11.0.js"></script> 
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/portfolio.pack.min.js"></script>
	<script src="/js/jquery.mobile.custom.min.js"></script>
	<script src="/js/goto.js"></script>     
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<a class="navbar-brand glyphicon glyphicon-arrow-left" aria-hidden="true" href="/newsfeed"></a>
			<a href="#" class="navbar-brand commentheader">Comments</a>
		</nav>
	</div>
	
    <ul class="media-list commentbox">
    	{{#each comments}}
            <li class="media">
                <a class="pull-left" href="#">
                	<img class="media-object img-circle" src="/images/{{commenter-image}}" alt="profile">
                </a>
                <div class="media-body">
                    <div class="well well-sm">
                        <h4 class="media-heading reviews">{{commenter}} </h4>
                        <p class="media-comment">
                            {{text}}
                        </p>
                    </div>              
                </div>
            </li>
    	{{/each}}
    </ul>

<div id="footer">    
	<div class="navbar-fixed-bottom">
		<div class="row bottom-nav" id="bottomNav">
    		<form class="addcomment-form">
  				<div class="input-group commentform">
    				<label for="addcomment"></label>
    				<input type="text" class="form-control" id="addcomment" placeholder="Add a comment">
    				<span class="input-group-btn commentsend">
            			<button type="submit" class="btn btn-default">Send
            			</button>                
        			</span>
  				</div>
    		</form>
		</div>
	</div>
</div>


	
</body>

</html>