<!doctype html>

<html>
<head>
	<title>GoTo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link href="/css/goto.css" rel="stylesheet">

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/portfolio.pack.min.js"></script>
	<script src="/js/jquery.mobile.custom.min.js"></script>
	<script src="/js/goto.js"></script>
	<script>
		$(document).ready(function() {
			$.get('/editprofile/getBio', function(response) {
				$('#edit-bio').text(response.bio);
			});

			$.get('/editprofile/getTastes', function(response) {
				$.each(response.tastes, function( index, value ) {
					$('.tastes').append("<div class='taste'><span class='label taste-label'>" + value + "</span><a class='taste-delete' href='#''>×</a></div>");
				});
			});
		});
	</script>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<a class="navbar-brand glyphicon glyphicon-search" aria-hidden="true" href="/search"></a>
			<a href="/index" class="navbar-brand"><img src="/images/gotologo.png" id="logo"/></a>
		</nav>
	</div>

	<div class="container top-title">
		<h4 class="center">Edit Profile</h4>
		<div class="form-group">
		  <label for="edit-bio">Edit Bio:</label>
		  <textarea class="form-control" rows="5" id="edit-bio"></textarea>
		  <div class="text-center">
	        <button class="btn btn-default edit-bio-button" type="button">Save</button>
	      </div>
		</div>

		<label>Edit Tastes:</label>
		<div class="tastes">
		</div>

        <div class="row add-taste">
		  <div class="col-lg-6">
		    <div class="input-group">
					<label for="add-taste-input"></label>
		      <input type="text" class="form-control" placeholder="Add Taste" id="add-taste-input">
		      <span class="input-group-btn">
		        <button class="btn btn-default add-taste-button" type="button">Add</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</div>

	<div id="footer">
	  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
	  <div class="row bottom-nav" id="bottomNav">
	    <div class="col-xs-4 text-center"><a href="/index">
	    	<i class="glyphicon glyphicon-home"></i><br>Home</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/newsfeed">
	    	<i class="glyphicon glyphicon-align-justify"></i><br>Newsfeed</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/profile">
	    	<i class="glyphicon glyphicon-user"></i><br>Profile</a>
	    </div>
	  </div>
	  </div>
	</div>
</body>

</html>
