<html>
<head>
	<title>GoTo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="/css/goto.css" rel="stylesheet">

    <script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/portfolio.pack.min.js"></script>
	<script src="/js/jquery.mobile.custom.min.js"></script>
	<script src="/js/goto.js"></script>
</head>

<body>
  <div class="container">
    <img src="/images/gotologo.png" class="img-responive">
  </div>
</body>
