<!doctype html>

<html>
<head>
	<title>GoTo</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="/css/goto.css" rel="stylesheet">

    <script src="/js/jquery-1.11.0.js"></script> 
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/portfolio.pack.min.js"></script>
	<script src="/js/jquery.mobile.custom.min.js"></script>
	<script src="/js/goto.js"></script>    
</head>

<body onload="checkLoginState()">
	<script>
	function statusChangeCallback(response) {
		// The response object is returned with a status field that lets the
		// app know the current login status of the person.
		// Full docs on the response object can be found in the documentation
		// for FB.getLoginStatus().

		if (response.status === 'connected' || response.status === 'not_authorized') {
          // Save the fb id in the session
          FB.api('/me', function(response) {
              $.post('/login/profileId', {"id": response.id}, function() {
                console.log("Current profile id is " + response.id);

                $.get('/newsfeed', function(response){
                	console.log("GET");
                	$('.newsfeed-container').empty();
                	$('.newsfeed-container').append("<h4 class='center'>Newsfeed</h4><hr>");
                	$.each(response.posts, function(index, value){
                		if(value["profile-image"]){
                			$('.newsfeed-container').append("<div class='panel post'><div class='media profile-top'><div class='media-left'><a href='/profile/" + value.name + "'><img class='media-object img-circle scaled-pic' src='/images/"+value["profile-image"]+"'></a></div><div class='media-body'><a href='/profile/"+value.name+"'><h4 class='media-heading' href='/profile/"+value.name+"'>"+ value.name+"</h4></a>");
                		}
                		else
                		{
                			$('.newsfeed-container').append("<div class='panel post'><div class='media profile-top'><div class='media-left'><a href='/profile'><img class='media-object img-circle profile-pic' src=''></a></div><div class='media-body'><a href='/profile'><h4 class='media-heading profile-name' href='/profile'></h4></a>");
                		}
                		if(value["food-image"])
                		{
                			$('.newsfeed-container').append("<img class='food-image scaled-image' src='/images/" + value["food-image"] + "'><br>");
                		}
                		$('.newsfeed-container').append("<a href='#'><i class='glyphicon glyphicon-heart social-button'></i></a><a href='/comments/"+value.id+"'><i class='glyphicon glyphicon-comment social-button'></i></a><br><a href='/restaurant/"+value.restaurant+"'>@" + value.restaurant+"</a><br>" + value["restaurant-description"]+"</div></div></div>");
                	});

                });

              });
          });
        }

		if (response.status === 'connected') {
				// Logged into your app and Facebook.
				apiCall();
		} else if (response.status === 'not_authorized') {
				// The person is logged into Facebook, but not your app.
				window.location.href= "/";
		} else {
				// The person is not logged into Facebook, so we're not sure if
				// they are logged into this app or not.
				window.location.href= "/";
		}
	}

	// This function is called when someone finishes with the Login
	// Button.  See the onlogin handler attached to it in the sample
	// code below.
	function checkLoginState() {
		FB.getLoginStatus(function(response) {
				statusChangeCallback(response);
		});
	}

	window.fbAsyncInit = function() {
		FB.init({
			appId      : '1018516261547542',
			cookie     : true,  // enable cookies to allow the server to access
											 // the session
			xfbml      : true,  // parse social plugins on this page
			version    : 'v2.2' // use version 2.2
		});

		// Now that we've initialized the JavaScript SDK, we call
		// FB.getLoginStatus().  This function gets the state of the
		// person visiting this page and can return one of three states to
		// the callback you provide.  They can be:
		//
		// 1. Logged into your app ('connected')
		// 2. Logged into Facebook, but not your app ('not_authorized')
		// 3. Not logged into Facebook and can't tell if they are logged into
		//    your app or not.
		//
		// These three cases are handled in the callback function.

		FB.getLoginStatus(function(response) {
		statusChangeCallback(response);
		});

		};

  		// Load the SDK asynchronously
  		(function(d, s, id) {
    		var js, fjs = d.getElementsByTagName(s)[0];
    		if (d.getElementById(id)) return;
    		js = d.createElement(s); js.id = id;
    		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.2";
    		fjs.parentNode.insertBefore(js, fjs);
  		}(document, 'script', 'facebook-jssdk'));

  		function apiCall() {
				FB.getAuthResponse();
				FB.api('/me', 'GET',  {"fields":"name,picture{url}"},  function(response) {
					var pics = document.getElementsByClassName("profile-pic");
					var names = document.getElementsByClassName("profile-name");
					var i;
					for (i = 0; i < pics.length; i++) {
    				pics[i].src = response.picture.data.url;
						names[i].innerHTML = response.name;
					}
  			}
			);
  		}
	</script>
		<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<a class="navbar-brand glyphicon glyphicon-search" aria-hidden="true" href="/search"></a>
			<a href="/index" class="navbar-brand"><img src="/images/gotologo.png" id="logo"/></a>
			<a class="navbar-brand glyphicon glyphicon-pencil" aria-hidden="true" href="/newpost/{{posts.0.id}}"></a>
		</nav>
	</div>

	<div class="container newsfeed-container">		
	</div>
	
	<div id="footer">
	  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
	  <div class="row bottom-nav" id="bottomNav">
	    <div class="col-xs-4 text-center"><a href="/index">
	    	<i class="glyphicon glyphicon-home"></i><br>Home</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/newsfeed">
	    	<i class="glyphicon glyphicon-align-justify"></i><br>Newsfeed</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/profile">
	    	<i class="glyphicon glyphicon-user"></i><br>Profile</a>
	    </div>
	  </div>
	  </div>
	</div>

</body>
</html>
