<!doctype html>

<html>
<head>
	<title>GoTo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="/css/goto.css" rel="stylesheet">

    <script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/portfolio.pack.min.js"></script>
	<script src="/js/jquery.mobile.custom.min.js"></script>
	<script src="/js/goto.js"></script>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<a class="navbar-brand glyphicon glyphicon-search" aria-hidden="true" href="/search"></a>
			<a href="/" class="navbar-brand"><img src="/images/gotologo.png" id="logo"/></a>
		</nav>
	</div>

	<div class="container top-title search-container">
		<h2 class="center">Search</h2>
      	<div class="row">
		  <div class="col-lg-6">
		    <div class="input-group">
		      <input type="text" class="form-control" placeholder="Search" id="search-input">
		      <span class="input-group-btn">
		        <button class="btn btn-default search-button" type="button">Go!</button>
		      </span>
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</div>

	<div class="results-container">
	</div>

	<div id="footer">
	  <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
	  <div class="row bottom-nav" id="bottomNav">
	    <div class="col-xs-4 text-center"><a href="/">
	    	<i class="glyphicon glyphicon-home"></i><br>Home</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/newsfeed">
	    	<i class="glyphicon glyphicon-align-justify"></i><br>Newsfeed</a>
	    </div>
	    <div class="col-xs-4 text-center"><a href="/profile">
	    	<i class="glyphicon glyphicon-user"></i><br>Profile</a>
	    </div>
	  </div>
	  </div>
	</div>
</body>

</html>
