<html>
<head>
	<title>GoTo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="/css/goto.css" rel="stylesheet">

    <script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/portfolio.pack.min.js"></script>
	<script src="/js/jquery.mobile.custom.min.js"></script>
	<script src="/js/goto.js"></script>
</head>

<body>
	<div class="container">
    	<img src="/images/gotologo.png" class="img-responsive">
    	<p></p>
		<h3 class="heading" style="text-align: center;margin: -19px 0 0;">My Tastes
			<h4>Add some taste to your profile so GoTo can recommend you some dishes
			</h4>
		</h3>
	</div>
	<div class="container favCuisine-Container" style="text-align: center;">
		<div class="row">
			<div class="favCuisine">
				{{#each cuisines}}
		  			<div class="col-sm-3 col-xs-3"><div class="mycuisine"><span class="label taste-label">{{id}}</span></div></div>
		  		{{/each}}
			</div>
		</div>
    </div>

    <div class="container cuisine-done" style="text-align: center;">
    	<a href="/index" class="btn btn-primary btn-lg" role="button" id="intro-tastes-button">Done
		</a>
    </div>
</body>