.top-title {
	margin-top: 50px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}

.navbar-header {
 	float:none;
    padding:10px;
}

.glyphicon-cog {
	float: right;
}

#bottomNav {
	padding:10px;
}
#bottomNav a {
    color:#ddd;
    text-decoration:none;
}
#bottomNav a:hover {
    color:#fff;
}

.bottom-nav a:hover {
	text-decoration: none;
}

.portfolio-container a:hover {
	text-decoration: none;
	color: #337ab7;
}

#logo{
	height: auto; 
    width: auto; 
    max-width: 58px; 
    max-height: 70px;
    padding-bottom: 20px;
}

.profile-container {
	margin-top: 70px;
}

table { border-collapse: separate; border-spacing: 5px; } /* cellspacing="5" */

.profile-top {
	margin-left: 20px;
	margin-top: 70px;
}

.Bio {
	margin-left: 20px;
}

.post a {
	color:#B8B8B8;
    text-decoration:none;
}

.center {
	text-align: center;
}

.post-container {
	margin-bottom: 50px;
}

.text-post {
	margin-left: 20px;
}

.friendButton {
	margin-left: 30px;
	font-size: small;
}

.your-posts-container {
	margin-top: 20px;
}

.newsfeed-container {
	margin-top: 50px;
}

.social-button {
	font-size: 1.3em;
	margin-right: 7px;
}

.food-image {
	padding-bottom: 10px;

}

.add-taste {
	margin-top: 20px;
	margin-bottom: 50px;
}

.add-location {
	margin-bottom: 100px;
}

.log-out-button {
    left: 50%;
    margin-bottom: 30px;
}

.taste {
	width: 100px;
	height: 30px;
	background: #5bc0de;
	margin-bottom: 10px;
}

.taste-delete {
    display: block;
    color: #FFF;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    float: right;
    text-align: center;
    line-height: 30px;
}

.taste-label {
	line-height: 30px;
}