.top-title {
	margin-top: 50px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}

.navbar-header {
 	float:none;
    padding:10px;
}

.glyphicon-cog {
	float: right;
}

.glyphicon-pencil {
	float: right;
}

.glyphicon-remove {
	float: right;
}

#bottomNav {
	padding:10px;
}
#bottomNav a {
    color:#ddd;
    text-decoration:none;
}
#bottomNav a:hover {
    color:#fff;
}

.bottom-nav a:hover {
	text-decoration: none;
}

.portfolio-container a:hover {
	text-decoration: none;
	color: #337ab7;
}

#logo{
	height: auto;
    width: auto;
    max-width: 58px;
    max-height: 70px;
    padding-bottom: 20px;
}

.profile-container {
	margin-top: 70px;
}


.profile-top {
	margin-left: 20px;
	margin-top: 70px;
}

.Bio, .Details {
	margin-left: 20px;
}

.post a {
	color:#B8B8B8;
    text-decoration:none;
}

.center {
	text-align: center;
}

.post-container {
	margin-bottom: 50px;
}

.text-post {
	margin-left: 20px;
}

.friendButton {
	margin-left: 30px;
	font-size: small;
}

.your-posts-container {
	margin-top: 20px;
}

.newsfeed-container {
	margin-top: 50px;
}

.social-button {
	font-size: 1.3em;
	margin-right: 7px;
}

.food-image {
	padding-bottom: 10px;

}

.add-taste {
	margin-top: 20px;
	margin-bottom: 50px;
}

.add-location {
	margin-bottom: 100px;
}

.log-out-button {
    left: 50%;
    margin-bottom: 30px;
}

.taste {
	width: 100px;
	height: 30px;
	background: #5bc0de;
	margin-bottom: 10px;
}

.taste-delete {
    display: block;
    color: #FFF;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    float: right;
    text-align: center;
    line-height: 30px;
}

.taste-label {
	line-height: 30px;
}

.mycuisine {
	width: 80px;
	height: 30px;
	background: #5bc0de;
	margin-bottom: 10px;

}

.favCuisine-Container {
	padding-top: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}

.highlight {
	background-color: #0000ff;
}
​
.highlight1 {
	background-color: red;
}

.edit-bio-button {
	margin-top: 10px;
}

.review-dish-button {
	margin-top: 10px;
}

.review {
	margin-top: 50px;
}

.friend-alert {
	margin-top: 20px;
}

.friend a {
	color:#B8B8B8;
    text-decoration:none;
}


.newpost-form {
	padding-top: 50px;
	padding-right: 20px;
	padding-left: 20px;
}
.fb-login-button {
	width: 300px;
	height: 64px;
	display: inline-block !important;
}

.fb_iframe_widget iframe {
    opacity: 0;
}

.fb_iframe_widget {
  background-image: url(/images/fb-login.png);
  background-repeat: no-repeat;
}

.login-body {
	background-color: #6C7A89;
}

.login-container {
	height: 270px;
    background-color: #fff;
    margin-top: 130px;
}

.goto-logo {
	width: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo-container {
	background-color: #f0f1f3;
    margin-bottom: 30px;
}

.results-container {
	margin-top: 30px;
}

.search-result-pic {
	height: 64px;
}

.portfolio-detail-pic {
	width: 100px;
	height: 67px;
}

.portfolio-detail-container {
	margin-top: 60px;
}

.scaled-image{
	max-width: none;
	height: 200px;
	width: auto;
}

.restaurant-pic{
	max-width: 160px;
	max-height: 200px;
}

.restaurant-posts-container {
	margin-top: 20px;
	margin-left: 20px;
}

.menu-container {
	margin-left: 20px;
}

.commentbox {
	margin-top: 60px;
	margin-left: 20px;
	margin-right: 20px;
}
.addcomment-form {
	margin-left: 20px;
	margin-right: 20px;
}
.commentheader {
	float: center;
}
