.top-title {
	margin-top: 50px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
}

.navbar-header {
 	float:none;
    padding:10px;
}

#bottomNav {
	padding:10px;
}
#bottomNav a {
    color:#ddd;
    text-decoration:none;
}
#bottomNav a:hover {
    color:#fff;
}

.bottom-nav a:hover {
	text-decoration: none;
}

.portfolio-container a:hover {
	text-decoration: none;
	color: #337ab7;
}

#mantra{
	padding-top: 10px;
}
#logo{
	height: auto; 
    width: auto; 
    max-width: 58px; 
    max-height: 70px;
    padding-bottom: 20px;
}

.profile-container {
	margin-top: 70px;
	padding-bottom: 75px;
}

table { border-collapse: separate; border-spacing: 5px; } /* cellspacing="5" */

.profile-top {
	margin-left: 20px;
	margin-top: 70px;
}

.Bio {
	margin-left: 20px;
}

.post a {
	color:#B8B8B8;
    text-decoration:none;
}

.center {
	text-align: center;
}

.post-container {
	margin-bottom: 50px;
}

.text-post {
	margin-left: 20px;
}

.friendButton {
	margin-left: 30px;
	font-size: small;
}

.newsfeed-container {
	margin-top: 50px;
}

.social-button {
	font-size: 1.3em;
	margin-right: 7px;
}

.food-image {
	padding-bottom: 10px;

}